[submodule "repo/BiscuitOS/HardStack"]
	path = BiscuitOS/HardStack
	url = https://gitee.com/BiscuitOS_team/HardStack.git
[submodule "repo/HardStack"]
	path = HardStack
	url = https://gitee.com/BiscuitOS_team/HardStack.git
[submodule "repo/ldd3"]
	path = ldd3
	url = https://github.com/martinezjavier/ldd3.git
[submodule "repo/Tutorials"]
	path = Tutorials
	url = https://github.com/Embetronicx/Tutorials.git
[submodule "repo/project/lua"]
	path = project/lua
	url = https://github.com/Robin329/lua.git
[submodule "repo/Linux_Driver_Tutorial"]
	path = Linux_Driver_Tutorial
	url = https://github.com/Johannes4Linux/Linux_Driver_Tutorial
[submodule "project/shell/shell-scripting-tutorial"]
	path = project/shell/shell-scripting-tutorial
	url = https://github.com/techarkit/shell-scripting-tutorial.git
[submodule "project/shell/pure-bash-bible"]
	path = project/shell/pure-bash-bible
	url = https://github.com/dylanaraps/pure-bash-bible.git
[submodule "project/shell/100-shell-script-examples"]
	path = project/shell/100-shell-script-examples
	url = https://github.com/epety/100-shell-script-examples.git
