[submodule "BiscuitOS/HardStack"]
	path = BiscuitOS/HardStack
	url = https://gitee.com/BiscuitOS_team/HardStack.git
[submodule "HardStack"]
	path = HardStack
	url = https://gitee.com/BiscuitOS_team/HardStack.git
[submodule "ldd3"]
	path = ldd3
	url = https://github.com/martinezjavier/ldd3.git
