[submodule "BiscuitOS/HardStack"]
	path = BiscuitOS/HardStack
	url = https://gitee.com/BiscuitOS_team/HardStack.git
[submodule "HardStack"]
	path = HardStack
	url = https://gitee.com/BiscuitOS_team/HardStack.git
[submodule "ldd3"]
	path = ldd3
	url = https://github.com/martinezjavier/ldd3.git
[submodule "Tutorials"]
	path = Tutorials
	url = https://github.com/Embetronicx/Tutorials.git
[submodule "project/lua"]
	path = project/lua
	url = https://github.com/Robin329/lua.git
[submodule "Linux_Driver_Tutorial"]
	path = Linux_Driver_Tutorial
	url = https://github.com/Johannes4Linux/Linux_Driver_Tutorial
